</div>
</div>
<script src="/js/script.js"></script>


</body>

<div class="footer"><hr class="footer"></div> 
 <footer>
    &copy; 2024 BryanZ <br>
    California State University
    Monterey Bay
  </footer>
</html>