<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>CRUD Operations</title>
 <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
  <div class="navigation">
    <form action="/">
       <button id="home" class="navigation">Home</button>
     </form>
   <form action="/author/new">
     <button id="addAuthors" class="navigation">Add Authors</button>
   </form>


   <form action="/quote/new">
     <button id="addQuotes" class="navigation">Add Quotes</button>
   </form>


   <form action="/authors">
     <button id="listAuthors" class="navigation">List Authors</button>
   </form>

   <form action="/quotes">
     <button id="listQuotes" class="navigation">List Quotes</button>
   </form>
  </div>
  <div class="frame">