<%- include("partials/header.ejs") %>
   <div class="header">Famous Quotes - Admin Section </div>
   <div class="hr"><hr></div>
   <div class="contentMain">
   
   <form action="/author/new">
     <button class="navigation2">Add Authors</button>
   </form>


   <form action="/quote/new">
     <button class="navigation2">Add Quotes</button>
   </form>


   <form action="/authors">
     <button class="navigation2">List Authors</button>
   </form>

   <form action="/quotes">
     <button class="navigation2">List Quotes</button>
   </form>
      </div>
<%- include("partials/footer.ejs") %>
